body{
	font-family: "Open Sans", Arial, sans-serif;
	width: 650px;
	margin: auto;
}

h1{
	font-size: 11pt;
	color: #d94949;
}

p{
	font-size: 11pt;
}

  dl {
  	font-size:11pt;
    padding: 1em;
  }
  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
  }
  dt:after {
    content: ":";
  }
  dd {
    margin: 0 0 0 110px;
    padding: 0 0 1em 0;
  }

#instructions, #gamewindow{
	margin-bottom: 50px;
}

#gamewindow{
	margin-top: 50px;
	text-align: center;
}


canvas{
	background-image: url("Images/game_background2.png");
	background-size: 100% 100%;
	width:650px;
	height:650px;
	margin: auto;
}


#logo{
	width: 400px;
	display: block;
	margin-bottom: 25px;
}

#bugreport{
	margin-top: 25px;
}


a{
	text-decoration: none;
}